.mediaCard_container {
  display: grid;
  grid-gap: 40px 20px;
  grid-template-columns: repeat(auto-fill, 185px);
  justify-content: space-between; /* horizontal alignment of grid tracks */
  /* border: 2px dotted blue; */
  /*
    grid-template-rows: auto;
    grid-auto-rows: 0px;
    overflow: hidden; */
}

/* @media (max-width: 1540px) {
    .mediaCard_container {
      grid-gap: 25px auto;
    }
  } */

/* @media (max-width: 1040px) {
    .mediaCard_container {
      padding: 0 auto;
      grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
      grid-gap: 25px auto;
      justify-content: center;
    }
  } */

@media (max-width: 870px) {
  .mediaCard_container {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }
}

@media (max-width: 600px) {
  .mediaCard_container {
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    grid-gap: 20px auto;
    /* margin: auto 20px; */
  }
}
