.mediaCard {
  position: relative;
  /* border: 2px solid white; */
  transition: 0.3s ease;
}

.mediaCard:hover {
  cursor: pointer;
  transform: scale(1.005);
  opacity: 0.5;
}

.coverImage_container {
  height: 270px;
  border-radius: 4px;
}

.media__coverImage {
  object-fit: cover;
  border-radius: 4px;
  pointer-events: none;
  box-shadow: 0 14px 30px rgba(5, 5, 5, 0.15), 0 4px 4px rgba(15, 15, 15, 0.05);
  transition: 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
}

.set_visible {
  opacity: 1;
}

.media__title {
  font-size: 14px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: center;
  color: #ccc;
  line-height: 1.5em;
  text-transform: capitalize;
  margin-top: 2vh;
}

@media (max-width: 870px) {
  .media__coverImage {
    height: 210px;
  }
  .coverImage_container {
    height: auto;
  }
}

@media (max-width: 600px) {
  .media__coverImage {
    height: 250px;
  }
  .coverImage_container {
    height: auto;
  }
}

.score {
  z-index: 8;
  border-radius: 50%;
  position: absolute;
  font-weight: 700;
  top: -5%;
  left: -5%;
  padding: 1.1vh;
  height: auto;
  width: 20px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 14px 30px rgba(5, 5, 5, 0.15), 0 4px 4px rgba(15, 15, 15, 0.05);
}
