.mediaCard_container {
  display: grid;
  grid-gap: 40px 20px;
  grid-template-columns: repeat(auto-fill, 185px);
  justify-content: space-between;
  /* align-content: space-between; */
  /* border: 2px dotted blue; */
  /*
    grid-template-rows: auto;
    grid-auto-rows: 0px;
    overflow: hidden; */
}

/* @media (max-width: 1540px) {
    .mediaCard_container {
      grid-gap: 25px auto;
    }
  } */

/* @media (max-width: 1040px) {
    .mediaCard_container {
      padding: 0 auto;
      grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
      grid-gap: 25px auto;
      justify-content: center;
    }
  } */

@media (max-width: 870px) {
  .mediaCard_container {
    grid-template-columns: repeat(auto-fill, 150px);
  }
}

@media (max-width: 600px) {
  .mediaCard_container {
    grid-template-columns: repeat(auto-fill, 140px);
    grid-gap: 20px;
  }
}
